<!-- displays home page nav bar-->
<%= render "navbar" %>

<div class = "container">
    <!-- logo format -->
    <div class = "wrap-hp-logo row center-block">
        <img class="img-responsive" src="https://user-images.githubusercontent.com/45517485/100167033-1787b180-2e8c-11eb-8a41-2e16720c0c63.png">
    </div>
    
    <!-- about web application statement format -->
    <div class = "row">
        <div class = "col-md-8 col-md-offset-2 text-center">
            <h1>
            About LEO
            </h1>
            <p class="hero-copy typography-quote-reduced">
            LEO is a platform meant to host and provide the 
            tools for effective online tutorship and mentorship. 
            This web application allows students to post questions 
            and receive responses from dedicated college tutors. 
            Students can use this resource to receive chemistry 
            tutorship or mentorship for succeeding in their academic 
            aspirations.
            </p>
        </div>
    </div>

    <!-- Mission statement format -->
    <div class = "row">
        <div class = "col-md-8 col-md-offset-2 text-center">
            <h1>
            Mission
            </h1>
            <p>
            The mission of this project is to help bring free tutorship 
            and mentorship to racially and economically disadvantaged 
            communities in New Jersey. Racial minority communities underperform 
            in academics due to historical as well as current disadvantageous 
            policy making here in the Garden State. Dedicated tutoring and mentorship 
            can help make a huge impact on students’ academic success.
            </p>
        </div>
    </div>

    <div class = "row text-center">
        <h1>
            How Tutoring and Mentorship Can Be Impactful
        </h1>
        <div class = "col-md-2 col-md-offset-2">
            <p>
            -Name 1
            </p>
        </div>
        <div class = "col-md-2 col-md-offset-1">
            <p>
            -Name 2
            </p>
        </div>
        <div class = "col-md-2 col-md-offset-1">
            <p>
            -Name 3
            </p>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-8 col-md-offset-2 text-center">
            <h1>
            Goals
            </h1>
            <p>
            [vid goes here]
            </p>
        </div>
    </div>
</div>

<%= render "devise/shared/style" %>
