<!-- post format, in modal form for use in modal  -->

<form>
    <div class="form-group">
        <label>Title</label>
        <input type="email" class="form-control" placeholder="type title here ...">
    </div>
    
    <div class="form-group">
        <label>Question</label>
        <textarea class="form-control" rows="5" placeholder="type question here ..."></textarea>
    </div>
    
    <div class="form-group">
        <label>Subject</label>
        <select class="form-control">
            <option>Chemistry</option>
        </select>
    </div>
</form>