<!DOCTYPE html>
<html lang="en">
<head>
  <img src="images/LEO-mainpage_logo.png" alt="LEO Main Page Logo">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
  h1 {text-align: center;}
  p{text-align: center;}
  div {text-align: center;}
  </style>
</head>
<body>

<div class="container">
  <button type="button" class="btn btn-primary">Log In</button>
  <button type="button" class="btn btn-default">Sign Up</button>
</div>

<div class="container">
  <h2>Welcome</h2>
  <p>LEO is an online platform meant to host and <br>
     provide the tools for effective tutorship and <br>
     mentorship. In here, students can come <br>
     to get help from dedicated college students <br>
     regarding any subject material.
  </p>
</div>


</body>
</html>

